
ENVIRONMENT=development

# ========================================
# Required Environment Variables
# ========================================
INDEXER_MODEL="model_name"
INDEXER_GCP_PROJECT_ID="gcp-project-id"
INDEXER_GCS_BUCKET_NAME="gcs-bucket-name"

# ========================================
# Optional Environment Variables for Development/Testing
# ========================================
LOG_LEVEL="DEBUG"  
INDEXER_LOG_DIR="./logs"
INDEXER_LOG_CONSOLE=True
INDEXER_LOG_FILE=True
INDEXER_LOG_STRUCTURED=True

# ========================================
# CLOUD SQL Configuration: Review README.md for details
# ========================================
INDEXER_SQL_INSTANCE_NAME="cloud_sql_instance"
INDEXER_SQL_CONNECTION_NAME="gcp_project_id:us-east:cloud_sql_instance"
INDEXER_DB_HOST="127.0.0.1"
INDEXER_DB_PORT="5432"